*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6rem;
}
.error-msg{
  color: red;
  font-size: 15px;
  height: 30px;
  width: 200px;
  background-color: #FFCCCB;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.success-msg{
  color: green;
  font-size: 15px;
  height: 30px;
  width: 350px;
  background-color: lightgreen;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.signup-container{
  max-width: 30%;
  margin: auto;
  border: solid steelblue 1px;
  margin-top: 100px;
  line-height: 2.5rem;
  padding: 20px;
}
.signup-header{
  text-align: center;
  margin-bottom: 20px;
}
.signup-input{
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  outline: none;
}
.signup-input:focus{
  border-bottom: solid 2px green;
  
}
.signup-button{
  background-color: #FF00FF;
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.signup-button:hover{
  cursor: pointer;
}
.signup-button:active{
  transform: scale(0.94);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px #FF00FF;
  /* Lowering the shadow */
}
.dashboard-container{
  max-width: 90%;
  margin: auto;
}
.dashboard-header{
  display: flex;
  justify-content: flex-end;
  height: 50px;
  background-color: white;
}
.dashboard-button{
  background-color: #FF00FF;
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 5px;
  text-decoration: none;
}
.dashboard-button:hover{
  cursor: pointer;
}
.dashboard-button:active{
  transform: scale(0.94);
  box-shadow: 3px 2px 13px 1px #FF00FF;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}
@media(max-width: 1160px){
  .signup-container{
    max-width: 70%;
    margin: auto;
    margin-top: 100px;
    line-height: 2.5rem;
    padding: 20px;
  }
  .success-msg{
   
    height: 30px;
    width: 400px;
    
  }
}
@media(max-width: 390px){
  .signup-container{
    max-width: 90%;
    margin: auto;
    margin-top: 100px;
    line-height: 2.5rem;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .success-msg{
   
  height: 60px;
  width: 300px;
  }
}